{
  "extends": [
    "standard",
    "standard-jsx",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "rules": {
    "curly": [ "warn", "all" ],
    "brace-style": [ "warn", "1tbs" ],
    "semi": [ "warn", "always" ],
    "space-before-function-paren": [ "warn", "never" ],
    "max-len": [ "warn", { "code": 250 } ],
    "comma-dangle": [ "warn", "always-multiline" ],
    "node/no-deprecated-api": [ "error" ],
    "no-return-assign": [ "error" ],
    "no-multiple-empty-lines": [ "warn", { "max": 2 } ]
  },
  "parser": "babel-eslint",
  "env": { "es6": true },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "sourceType": "module"
    }
  },
  "plugins": [ "react" ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js",".jsx"]
      },
      "webpack": true
    }
  }
}
